<div class="contenedor">
    <div class="formulario" >
        <form id="form">
            <table>
                <tr>
                    <td>
                        <h3>Ingresos</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ingresos">Ingresos:</label>
                    </td>
                    <td>
                        <input id="ingresos" type="number" min=0 step=0.1 required>
                    </td>
                </tr>
                <!-- <hr/> -->
                <tr>
                    <td>
                        <h3>Gastos</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="vivienda">Vivienda:</label>
                    </td>
                    <td>
                        <input id="vivienda" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="educacion">Educación:</label>
                    </td>
                    <td>
                        <input id="educacion" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="alimentacion">Alimentacion:</label>
                    </td>
                    <td>
                        <input id="alimentacion" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="vestimenta">Vestimenta:</label>
                    </td>
                    <td>
                        <input id="vestimenta" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="turismo">Turismo:</label>
                    </td>
                    <td>
                        <input id="turismo" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="salud">Salud:</label>
                    </td>
                    <td>
                        <input id="salud" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="gastosP">Total gastos personales:</label>
                    </td>
                    <td>
                        <input id="gastosP" type="number" min=0 step=0.1 required><p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Calcular" (click)="Calculo()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div> 
    
<div id="respuesta"></div>